<div style="margin: 10px auto; width=500px" align="center">
	<img src="http://rsvp.beccaandadamgethitched.com/images/Banner-sm.gif" alt="Becca and Adam are getting hitched!" %>

<div style="padding: 10px;border: solid #c5190b 2px; margin-top: -1px; width: 476px;">

	<%= simple_format(auto_link(@message)) %>
</div>

<img src="http://rsvp.beccaandadamgethitched.com/images/Banner-bottom-sm.gif" alt="" %>
</div>