
	<td class="invitee_edit_there">
		<%=rehearsal_invitee_cells.radio_button :rehearsal_coming, "true", :class => 'there' %>
		<%=rehearsal_invitee_cells.radio_button :rehearsal_coming, "false", :class => 'square' %>
		<br />
		<span class="info">Be there or be square?</span>
	</td>
